In [88]:
# Supress Warnings
import warnings
warnings.filterwarnings('ignore')

In [89]:
import numpy as np
import pandas as pd

#Reading companies.txt file by using encoding = "ISO-8859-1 
companies = pd.read_csv("D:/Sushma/Data Science/Investment Case Study/companies.txt", sep="\t", encoding = "ISO-8859-1")
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [90]:
#Reading rounds2.csv file by using encoding = "ISO-8859-1" and storing the data in rounds2 data frame
rounds2 = pd.read_csv("D:/Sushma/Data Science/Investment Case Study/rounds2.csv", sep=",", encoding = "ISO-8859-1")
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [91]:
#Changing permalink field to lower case
companies['permalink']=companies.permalink.str.lower()

# Decoding to read special characters
companies['permalink']=companies.permalink.str.encode('utf-8').str.decode('ascii','ignore')

#Extracting the unique comapnies from companies data frame
companies_unique_companies=companies['permalink'].unique().tolist()

#Displaying the top 5 values 
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [94]:
#Changing company permalink field to lower case
rounds2['company_permalink']=rounds2.company_permalink.str.lower()

# Decoding to read any special character
rounds2['company_permalink']=rounds2.company_permalink.str.encode('utf-8').str.decode('ascii','ignore')

#Extracting the unique companies from rounds2 data frame
rounds2_unique_companies=rounds2['company_permalink'].unique().tolist()

#Displaying top 5 values
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [95]:
#Number of unique companies in rounds2
len(rounds2_unique_companies)

66368

In [96]:
#Number of unique companies in companies file
len(companies_unique_companies)

66368

In [97]:
#Companies in the rounds2 file which are not  present in companies
set(rounds2_unique_companies).difference(set(companies_unique_companies))

set()

In [98]:
#Merging the companies frame and the rounds2 data frame and creating the master_frame.
master_frame = pd.merge(rounds2,companies,how='left',left_on='company_permalink', right_on='permalink')

#Number of observations present in master_frame
len(master_frame)

114949

In [99]:
#Inspecting the master dataframe created 
master_frame.info()
master_frame.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 16 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
permalink                  114949 non-null object
name                       114948 non-null object
homepage_url               108815 non-null object
category_list              111539 non-null object
status                     114949 non-null object
country_code               106271 non-null object
state_code                 104003 non-null object
region                     104782 non-null object
city                       104785 non-null object
founded_at                 94428 non-null object
dtypes: float64(1), object(15)
memory usage: 14.9+ MB

(114949, 16)

In [100]:
#Displaying top 5 values
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

In [101]:
#Calculating the percentage of null values present in all the columns
print(round(100*(master_frame.isnull().sum()/len(master_frame.index)),2))

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
dtype: float64

In [102]:
#Dropping the columns with high percentage of null values
master_frame.drop(['funding_round_code','founded_at','homepage_url','state_code','region','city'],axis=1,inplace=True)

In [103]:
#Calculating the percentage of null values present in each column after dropping the above columns
print(round(100*(master_frame.isnull().sum()/len(master_frame.index)),2))

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funded_at                   0.00
raised_amount_usd          17.39
permalink                   0.00
name                        0.00
category_list               2.97
status                      0.00
country_code                7.55
dtype: float64

In [104]:
#Dropping the rows with null values for raised_amount_usd and country_code
master_frame = master_frame[~np.isnan(master_frame['raised_amount_usd'])]
master_frame = master_frame[~pd.isnull(master_frame['country_code'])]

In [105]:
#Calculating the percentage of null values present in each column after dropping rows with high null values
round(100*(master_frame.isnull().sum()/len(master_frame.index)), 2)

company_permalink          0.00
funding_round_permalink    0.00
funding_round_type         0.00
funded_at                  0.00
raised_amount_usd          0.00
permalink                  0.00
name                       0.00
category_list              0.65
status                     0.00
country_code               0.00
dtype: float64

In [106]:
#Retaining only those rows of 'category_list' column which doesn't have null values
master_frame = master_frame[~pd.isnull(master_frame['category_list'])]

In [107]:
#Calculating the percentage of null values present in each column after dropping rows with high null values
round(100*(master_frame.isnull().sum()/len(master_frame.index)), 2)

company_permalink          0.0
funding_round_permalink    0.0
funding_round_type         0.0
funded_at                  0.0
raised_amount_usd          0.0
permalink                  0.0
name                       0.0
category_list              0.0
status                     0.0
country_code               0.0
dtype: float64

In [108]:
#Converting the unit of raised_amount_usd to million USD for ease of understanding and calculation 
master_frame.raised_amount_usd=master_frame.raised_amount_usd/1000000

#Calculating the average investment amount for each of the funding types in million USD
avg_funding = master_frame.groupby(['funding_round_type']).mean()

avg_funding['raised_amount_usd']

funding_round_type
angel                      0.971574
convertible_note           1.337187
debt_financing            17.167653
equity_crowdfunding        0.509898
grant                      4.512698
non_equity_assistance      0.480753
post_ipo_debt            169.451790
post_ipo_equity           66.077059
private_equity            73.938486
product_crowdfunding       1.353227
secondary_market          84.438532
seed                       0.747794
undisclosed               15.891661
venture                   11.724223
Name: raised_amount_usd, dtype: float64

In [109]:
#Finding the average funding for venture, angel, seed, and private equity funding types
master_frame.loc[master_frame['funding_round_type'].isin(['venture', 'angel', 'seed','private_equity'])].groupby(['funding_round_type']).mean()

                    raised_amount_usd
funding_round_type
angel                        0.971574
private_equity              73.938486
seed                         0.747794
venture                     11.724223

In [110]:
#Finding the companies which received the average funding between 5 to 15 million USD 
avg_funding.loc[(avg_funding['raised_amount_usd']>=5.0) & (avg_funding['raised_amount_usd']<=15.0)]

                    raised_amount_usd
funding_round_type
venture                     11.724223

In [111]:
#Selecting only those rows which have 'venture' as the investment type
total_funding_received = master_frame.loc[master_frame['funding_round_type']=='venture']

#Getting top nine countries which have received the highest total funding for 'venture' investment type
top9 = (total_funding_received.groupby(['country_code']).sum())['raised_amount_usd'].sort_values(ascending=False).head(9)
top9

country_code
USA    420068.029342
CHN     39338.918773
GBR     20072.813004
IND     14261.508718
CAN      9482.217668
FRA      7226.851352
ISR      6854.350477
DEU      6306.921981
JPN      3167.647127
Name: raised_amount_usd, dtype: float64

In [112]:
#Loading mapping.csv file in categories dataframe and displaying top 5 values
categories = pd.read_csv("D:/Sushma/Data Science/Investment Case Study/mapping.csv")
categories.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [113]:
#Dropping the rows with category list as null or NaN and displaying values
categories = categories[~pd.isnull(categories['category_list'])]
categories.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1
5,Active Lifestyle,0,0,0,0,1,0,0,0,0

In [115]:
#Extracting the primary sector of each category list from the category_list column and adding as new column in master frame 
master_frame['category_list'].astype(str)
category=master_frame['category_list'].str.split("|",expand=True)
master_frame['primary_sector']=category[0]

In [116]:
#Checking if primary sector column is added 
master_frame.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funded_at', 'raised_amount_usd', 'permalink', 'name', 'category_list',
       'status', 'country_code', 'primary_sector'],
      dtype='object')

In [117]:
#Displaying the top 5 rows in the master frame to check the values in primary_sector column
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list,status,country_code,primary_sector
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,05-01-2015,10.00000,/organization/-fame,#fame,Media,operating,IND,Media
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,01-03-2014,0.70000,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,operating,USA,Application Platforms
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,19-03-2008,2.00000,/organization/0-6-com,0-6.com,Curated Web,operating,CHN,Curated Web
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,01-07-2014,0.04125,/organization/01games-technology,01Games Technology,Games,operating,HKG,Games
7,/organization/0ndine-biomedical-inc,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,11-09-2009,0.04336,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,Biotechnology,operating,CAN,Biotechnology

In [118]:
#Creating a new dataframe by mapping each categoring to its main sector

category_mapping=categories.melt(id_vars=['category_list'], var_name='main_Sector')
category_mapping=category_mapping.loc[category_mapping.value==1]
category_mapping.drop('value',axis=1,inplace=True)
category_mapping.head()

       category_list          main_Sector
7   Adventure Travel  Automotive & Sports
13         Aerospace  Automotive & Sports
44              Auto  Automotive & Sports
45   Automated Kiosk  Automotive & Sports
46        Automotive  Automotive & Sports

In [119]:
#Merging master frame to category_mapping to create merged dataframe on categorylist

master_frame=pd.merge(master_frame,category_mapping,how='left',left_on='primary_sector',right_on='category_list')
master_frame.head()
print(round(100*(master_frame.isnull().sum()/len(master_frame.index)),2))

company_permalink          0.00
funding_round_permalink    0.00
funding_round_type         0.00
funded_at                  0.00
raised_amount_usd          0.00
permalink                  0.00
name                       0.00
category_list_x            0.00
status                     0.00
country_code               0.00
primary_sector             0.00
category_list_y            7.23
main_Sector                7.23
dtype: float64

In [120]:
#Dropping the rows with null values in the category_list_y column
master_frame = master_frame[~pd.isnull(master_frame['category_list_y'])]

In [121]:
#Dropping the rows with null values in the main_sector column
master_frame = master_frame[~pd.isnull(master_frame['main_Sector'])]

In [122]:
# Creating D1 , D2 and D3 dataframes based on the investment constraints specified by Spark Funds for top 3 English speaking countries 
# USA,GBR and IND with funding round type as venture and investement from 5 to 15 million $

D1=master_frame.loc[(master_frame.country_code=='USA')& (master_frame.funding_round_type=='venture')& (master_frame.raised_amount_usd<=15.0)& (master_frame.raised_amount_usd>=5)]
D2=master_frame.loc[(master_frame.country_code=='GBR')& (master_frame.funding_round_type=='venture')& (master_frame.raised_amount_usd<=15.0)& (master_frame.raised_amount_usd>=5)]
D3=master_frame.loc[(master_frame.country_code=='IND')& (master_frame.funding_round_type=='venture')& (master_frame.raised_amount_usd<=15.0)& (master_frame.raised_amount_usd>=5)]

In [123]:
#Displaying top 5 values of D1
D1.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list_x,status,country_code,primary_sector,category_list_y,main_Sector
15,/organization/1-mainstream,/funding-round/b952cbaf401f310927430c97b68162ea,venture,17-03-2015,5.000000,/organization/1-mainstream,1 Mainstream,Apps|Cable|Distribution|Software,acquired,USA,Apps,Apps,"News, Search and Messaging"
71,/organization/128-technology,/funding-round/fb6216a30cb566ede89e0bee0623a634,venture,16-12-2014,11.999347,/organization/128-technology,128 Technology,Service Providers|Technology,operating,USA,Service Providers,Service Providers,Others
77,/organization/1366-technologies,/funding-round/424129ce1235cfab2655ee81305f7c2b,venture,15-10-2013,15.000000,/organization/1366-technologies,1366 Technologies,Manufacturing,operating,USA,Manufacturing,Manufacturing,Manufacturing
78,/organization/1366-technologies,/funding-round/6d3f3797371956ece035b8478c1441b2,venture,09-04-2015,5.000000,/organization/1366-technologies,1366 Technologies,Manufacturing,operating,USA,Manufacturing,Manufacturing,Manufacturing
79,/organization/1366-technologies,/funding-round/786f61aa9866f4471151285f5c56be36,venture,03-02-2010,5.150000,/organization/1366-technologies,1366 Technologies,Manufacturing,operating,USA,Manufacturing,Manufacturing,Manufacturing

In [124]:
#Displaying top 5 values of D2
D2.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list_x,status,country_code,primary_sector,category_list_y,main_Sector
289,/organization/365scores,/funding-round/48212f931f542fdef78810bc87aef086,venture,29-09-2014,5.500000,/organization/365scores,365Scores,Android|Apps|iPhone|Mobile|Sports,operating,GBR,Android,Android,"Social, Finance, Analytics, Advertising"
623,/organization/7digital,/funding-round/b5ad7ed7baddd3974bd51403f17dd88f,venture,01-01-2008,8.468328,/organization/7digital,7digital,Content Creators|Content Delivery|Licensing|Mu...,acquired,GBR,Content Creators,Content Creators,Entertainment
624,/organization/7digital,/funding-round/eafacfcceb1fbc4fd605f641b603313e,venture,19-10-2012,10.000000,/organization/7digital,7digital,Content Creators|Content Delivery|Licensing|Mu...,acquired,GBR,Content Creators,Content Creators,Entertainment
677,/organization/90min,/funding-round/21a2cbf6f2fb2a1c2a61e04bf930dfe6,venture,06-10-2015,15.000000,/organization/90min,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,Media,Media,Entertainment
678,/organization/90min,/funding-round/bd626ed022f5c66574b1afe234f3c90d,venture,07-05-2013,5.800000,/organization/90min,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,Media,Media,Entertainment

In [125]:
#Displaying top 5 values of D3
D3.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list_x,status,country_code,primary_sector,category_list_y,main_Sector
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,05-01-2015,10.000000,/organization/-fame,#fame,Media,operating,IND,Media,Media,Entertainment
162,/organization/21diamonds-india,/funding-round/6de7ffef8091ba9f33821f4b861f434a,venture,15-11-2012,6.369507,/organization/21diamonds-india,21Diamonds,E-Commerce,operating,IND,E-Commerce,E-Commerce,Others
1920,/organization/adlabs-imagica,/funding-round/508d3c83daaae9fda3ba6f9682c78f6c,venture,28-10-2014,8.180000,/organization/adlabs-imagica,Adlabs Imagica,Entertainment|Tourism,operating,IND,Entertainment,Entertainment,Entertainment
3168,/organization/akosha,/funding-round/908a8813e2273a2bc604bf40a45c15ff,venture,01-07-2014,5.000000,/organization/akosha,Akosha,Consumer Internet|Digital Media|Enterprise Sof...,operating,IND,Consumer Internet,Consumer Internet,"Social, Finance, Analytics, Advertising"
3945,/organization/amagi-media-labs,/funding-round/f244a91cc714317f6fbbc80dcc1d5135,venture,17-06-2013,5.500000,/organization/amagi-media-labs,Amagi Media Labs,Advertising,operating,IND,Advertising,Advertising,"Social, Finance, Analytics, Advertising"

In [127]:
#Adding two more columns to D1 for sum of amount raised per primary sector and count of companies per main sector
D1['raised_per_sector'] = D1.groupby(['main_Sector'])['raised_amount_usd'].transform(sum)
D1['count_per_sector'] = D1.groupby(['main_Sector'])['primary_sector'].transform('count')
D1.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list_x,status,country_code,primary_sector,category_list_y,main_Sector,raised_per_sector,count_per_sector
15,/organization/1-mainstream,/funding-round/b952cbaf401f310927430c97b68162ea,venture,17-03-2015,5.000000,/organization/1-mainstream,1 Mainstream,Apps|Cable|Distribution|Software,acquired,USA,Apps,Apps,"News, Search and Messaging",13796.816094,1563
71,/organization/128-technology,/funding-round/fb6216a30cb566ede89e0bee0623a634,venture,16-12-2014,11.999347,/organization/128-technology,128 Technology,Service Providers|Technology,operating,USA,Service Providers,Service Providers,Others,26089.280296,2923
77,/organization/1366-technologies,/funding-round/424129ce1235cfab2655ee81305f7c2b,venture,15-10-2013,15.000000,/organization/1366-technologies,1366 Technologies,Manufacturing,operating,USA,Manufacturing,Manufacturing,Manufacturing,7258.553378,799
78,/organization/1366-technologies,/funding-round/6d3f3797371956ece035b8478c1441b2,venture,09-04-2015,5.000000,/organization/1366-technologies,1366 Technologies,Manufacturing,operating,USA,Manufacturing,Manufacturing,Manufacturing,7258.553378,799
79,/organization/1366-technologies,/funding-round/786f61aa9866f4471151285f5c56be36,venture,03-02-2010,5.150000,/organization/1366-technologies,1366 Technologies,Manufacturing,operating,USA,Manufacturing,Manufacturing,Manufacturing,7258.553378,799

In [128]:
#Adding two more columns to D2 for sum of amount raised per primary sector and count of companies per main sector
D2['raised_per_sector'] = D2.groupby(['main_Sector'])['raised_amount_usd'].transform(sum)
D2['count_per_sector'] = D2.groupby(['main_Sector'])['primary_sector'].transform('count')
D2.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list_x,status,country_code,primary_sector,category_list_y,main_Sector,raised_per_sector,count_per_sector
289,/organization/365scores,/funding-round/48212f931f542fdef78810bc87aef086,venture,29-09-2014,5.500000,/organization/365scores,365Scores,Android|Apps|iPhone|Mobile|Sports,operating,GBR,Android,Android,"Social, Finance, Analytics, Advertising",821.888357,98
623,/organization/7digital,/funding-round/b5ad7ed7baddd3974bd51403f17dd88f,venture,01-01-2008,8.468328,/organization/7digital,7digital,Content Creators|Content Delivery|Licensing|Mu...,acquired,GBR,Content Creators,Content Creators,Entertainment,461.511059,54
624,/organization/7digital,/funding-round/eafacfcceb1fbc4fd605f641b603313e,venture,19-10-2012,10.000000,/organization/7digital,7digital,Content Creators|Content Delivery|Licensing|Mu...,acquired,GBR,Content Creators,Content Creators,Entertainment,461.511059,54
677,/organization/90min,/funding-round/21a2cbf6f2fb2a1c2a61e04bf930dfe6,venture,06-10-2015,15.000000,/organization/90min,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,Media,Media,Entertainment,461.511059,54
678,/organization/90min,/funding-round/bd626ed022f5c66574b1afe234f3c90d,venture,07-05-2013,5.800000,/organization/90min,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,Media,Media,Entertainment,461.511059,54

In [129]:
#Adding two more columns to D3 for sum of amount raised per primary sector and count of companies per main sector
D3['raised_per_sector'] = D3.groupby(['main_Sector'])['raised_amount_usd'].transform(sum)
D3['count_per_sector'] = D3.groupby(['main_Sector'])['primary_sector'].transform('count')

In [130]:
# Sorting values based on amount raised per sector and count_per_sector
D1=D1.sort_values(by='raised_amount_usd',ascending=False)
D1.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list_x,status,country_code,primary_sector,category_list_y,main_Sector,raised_per_sector,count_per_sector
66560,/organization/saymedia,/funding-round/6f2b8e53c5dea8a1a0d6ce01070035ca,venture,01-09-2007,15.0,/organization/saymedia,SAY Media,Advertising|Media|Publishing|Video,operating,USA,Advertising,Advertising,"Social, Finance, Analytics, Advertising",16680.695048,1912
36965,/organization/inkling-systems,/funding-round/8b8c6f30b1ef67ca8ba0fd371e556d8f,venture,06-05-2015,15.0,/organization/inkling-systems,Inkling Systems,Android|Cloud Infrastructure|Corporate Trainin...,operating,USA,Android,Android,"Social, Finance, Analytics, Advertising",16680.695048,1912
83702,/organization/vormetric,/funding-round/f335472d3df0f22fab8e9b4ce0d07733,venture,26-06-2013,15.0,/organization/vormetric,Vormetric,Enterprise Software,acquired,USA,Enterprise Software,Enterprise Software,Others,26089.280296,2923
73258,/organization/stem,/funding-round/e400f5d9b32f4873a8ee9c990d68ebb8,venture,02-12-2013,15.0,/organization/stem,Stem,Enterprise Software,operating,USA,Enterprise Software,Enterprise Software,Others,26089.280296,2923
51155,/organization/ncircle-network-security,/funding-round/6f6f5516a9b564ba3dafb052e9b4b75d,venture,09-03-2004,15.0,/organization/ncircle-network-security,nCircle Network Security,Security,acquired,USA,Security,Security,Others,26089.280296,2923

In [131]:
# Sorting values based on amount raised per sector and count_per_sector
D2=D2.sort_values(by='raised_amount_usd',ascending=False)
D2.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list_x,status,country_code,primary_sector,category_list_y,main_Sector,raised_per_sector,count_per_sector
32376,/organization/greenroad-technologies,/funding-round/d786d56c4c94a68f65e98ac9024fe7fb,venture,28-05-2009,15.0,/organization/greenroad-technologies,GreenRoad Technologies,Cars|Clean Technology|Diving|Green|Internet|So...,operating,GBR,Cars,Cars,Automotive & Sports,167.051565,16
79106,/organization/tribold,/funding-round/36c8164caf2a5283a766e2a85b9d663c,venture,22-03-2007,15.0,/organization/tribold,Tribold,Software,acquired,GBR,Software,Software,Others,1249.124289,143
69316,/organization/similarweb,/funding-round/71de07b07ac7f6b7348a72a231e4ae3f,venture,25-11-2014,15.0,/organization/similarweb,SimilarWeb,Advertising|Analytics|Business Intelligence|Bu...,operating,GBR,Advertising,Advertising,"Social, Finance, Analytics, Advertising",821.888357,98
69293,/organization/silverrail-technologies,/funding-round/6816b97b970b7b95395f903ce1dd6d0d,venture,21-03-2012,15.0,/organization/silverrail-technologies,SilverRail Technologies,Technology|Transportation|Travel,operating,GBR,Technology,Technology,Others,1249.124289,143
38567,/organization/ip-access,/funding-round/4321163564fddf7a26b7235d7c791941,venture,12-12-2011,15.0,/organization/ip-access,ip.access,Software,operating,GBR,Software,Software,Others,1249.124289,143

In [132]:
# Sorting values based on amount raised per sector and count_per_sector
D3=D3.sort_values(by='raised_amount_usd',ascending=False)
D3.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list_x,status,country_code,primary_sector,category_list_y,main_Sector,raised_per_sector,count_per_sector
13242,/organization/caratlane,/funding-round/ead9f057edb0d007c54f76e5cf5f2375,venture,13-05-2013,15.0,/organization/caratlane,CaratLane,E-Commerce|Jewelry,operating,IND,E-Commerce,E-Commerce,Others,1007.409507,109
38636,/organization/ipolicy-networks,/funding-round/5960ab7542caab51f2b89207bebd258b,venture,04-10-2005,15.0,/organization/ipolicy-networks,iPolicy Networks,Security,operating,IND,Security,Security,Others,1007.409507,109
68671,/organization/shopclues-com,/funding-round/f0525d1aeb1a5d4581d49156ee7fa3e6,venture,01-03-2014,15.0,/organization/shopclues-com,ShopClues.com,Consumer Internet|E-Commerce|Shopping,operating,IND,Consumer Internet,Consumer Internet,"Social, Finance, Analytics, Advertising",290.543500,32
17463,/organization/commonfloor,/funding-round/2d3d9f68e6902613d06d2aa77852381c,venture,08-01-2015,15.0,/organization/commonfloor,CommonFloor,Real Estate,operating,IND,Real Estate,Real Estate,Others,1007.409507,109
17349,/organization/comat-technologies,/funding-round/4d24857fc321f2d54c16573a085b090c,venture,01-10-2008,15.0,/organization/comat-technologies,Comat Technologies,Governments|Health and Insurance,closed,IND,Governments,Governments,Others,1007.409507,109

In [133]:
#Top three sectors with highest count of investements in USA
D1.groupby(['main_Sector']).permalink.count().sort_values(ascending=False).head(3)

main_Sector
Others                                     2923
Cleantech / Semiconductors                 2297
Social, Finance, Analytics, Advertising    1912
Name: permalink, dtype: int64

In [134]:
#Top three sectors with highest count of investements in GBR
D2.groupby(['main_Sector']).raised_amount_usd.count().sort_values(ascending=False).head(3)

main_Sector
Others                                     143
Cleantech / Semiconductors                 127
Social, Finance, Analytics, Advertising     98
Name: raised_amount_usd, dtype: int64

In [136]:
#Top three sectors with highest count of investements in IND
D3.groupby(['main_Sector']).raised_amount_usd.count().sort_values(ascending=False).head(3)

main_Sector
Others                        109
News, Search and Messaging     52
Entertainment                  33
Name: raised_amount_usd, dtype: int64

In [137]:
#Total amount raised by venture and between 5-15 million doller in USA 
D1.raised_amount_usd.sum()

99661.524549

In [138]:
#Total amount raised by venture and between 5-15 million doller in GBR 
D2.raised_amount_usd.sum()

5028.704358

In [139]:
#Total amount raised by venture and between 5-15 million doller in IND 
D3.raised_amount_usd.sum()

2683.5375520000002

In [140]:
#Total count of investments between 5-15 million USD of type venture in USA 
len(D1.index)

11149

In [141]:
#Total count of investments between 5-15 million USD of type venture in GBR
len(D2.index)

577

In [714]:
#Total count of investments between 5-15 million USD of type venture in IND 
len(D3.index)

299

In [142]:
# Companies with maximum investment in top invested sector in USA
D1Top=D1.loc[D1.main_Sector=='Others']
D1Top.groupby('name').raised_amount_usd.sum().sort_values(ascending=False).head(2)

name
Virtustream          64.300000
Capella Photonics    54.968051
Name: raised_amount_usd, dtype: float64

In [143]:
# Companies with maximum investment in top invested sector in GBR
D2Top=D2.loc[D2.main_Sector=='Others']
D2Top.groupby('name').raised_amount_usd.sum().sort_values(ascending=False).head(2)

name
Electric Cloud    37.00
SenSage           36.25
Name: raised_amount_usd, dtype: float64

In [144]:
# Companies with maximum investment in top invested sector in IND
D3Top=D3.loc[D3.main_Sector=='Others']
D3Top.groupby('name').raised_amount_usd.sum().sort_values(ascending=False).head(2)

name
FirstCry.com    39.0
Myntra          38.0
Name: raised_amount_usd, dtype: float64

In [718]:
# Companies with maximum investment in 2nd most invested sector in USA
D1Top=D1.loc[D1.main_Sector=='Cleantech / Semiconductors']
D1Top.groupby('name').raised_amount_usd.sum().sort_values(ascending=False).head(2)

name
Biodesix       75.300000
Tigo Energy    68.739496
Name: raised_amount_usd, dtype: float64

In [145]:
# Companies with maximum investment in 2nd most invested sector in GBR
D2Top=D2.loc[D2.main_Sector=='Cleantech / Semiconductors']
D2Top.groupby('name').raised_amount_usd.sum().sort_values(ascending=False).head(2)

name
EUSA Pharma          35.600000
Horizon Discovery    31.353719
Name: raised_amount_usd, dtype: float64

In [146]:
# Companies with maximum investment in 2nd most invested sector in IND
D3Top=D3.loc[D3.main_Sector=='News, Search and Messaging']
D3Top.groupby('name').raised_amount_usd.sum().sort_values(ascending=False).head(2)

name
GupShup      33.0
IMImobile    23.0
Name: raised_amount_usd, dtype: float64